/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: auto;
}


/*----------------
    SWITCH SECTION
------------------*/
#switch{

    position: relative;
}

#dark,
#light,
#btnChangeStatus{
    position: absolute;
}

#light{
    left: -41px;
}



/*----------------
   EVENT CLASS
------------------*/

.statusOn{
    display:block;
}

.statusOff{
    display: none;
}


